/* Basic styles for the website */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    flex-basis: 20%;
    background: #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background: white;
}

button {
    margin: 10px;
    padding: 10px 20px;
}

img {
    max-width: 100%;  /* Limits the width to the viewport's width */
    max-height: 80vh; /* Limits the height to the viewport's height */
    height: auto;  /* Maintains the aspect ratio */
    display: block; /* Removes bottom space/gap */
    margin: 0 auto; /* Centers the image horizontally */
}

